h1,
h2,
h3,
h4,
h5,
p,
a,
li,
span {
  font-family: "Source Sans Pro", sans-serif;
  -webkit-font-smoothing: antialiased;
}

h1 {
  color: #ffffff !important;
  font-size: 30px;
  font-weight: 400;
  line-height: 1;
}

h2 {
  color: #333C42;
  font-weight: 400;
  font-size: 27px;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

h4 {
  font-size: 18px;
  font-weight: 400;
}

p {
  font-size: 16px;
  color: #333C42;
}

.footer-content {
  border-top: 1px solid #E0E0E0;
  background: #ffffff;
  padding: 10px;
}

.footer-content .f1,
.footer-content .f2,
.footer-content .f3 {
  font-size: 13px;
  padding: 20px;
  opacity: 0.7;
}

@media only screen and (max-width: 550px) {
  .footer-content .f1,
  .footer-content .f2,
  .footer-content .f3 {
    text-align: center !important;
    padding: 5px;
  }
}

.footer-content .f1 {
  text-align: left;
}

.footer-content .f2 {
  text-align: center;
}

.footer-content .f3 {
  text-align: right;
}

@media only screen and (max-width: 992px) {
  #country-menu .container {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#country-menu .container .events-list {
  padding: 0 80px 20px 0;
  border-right: 1px solid #E0E0E0;
}

@media only screen and (max-width: 500px) {
  #country-menu .container .events-list {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  #country-menu .container .events-list {
    padding: 0 30px;
  }
}

#country-menu .container .events-list .event-list-container {
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  #country-menu .container .events-list .event-list-container {
    padding: 10px 0 10px 0;
  }
}

#country-menu .container .events-list .event-list-container ul {
  padding-left: 0;
}

#country-menu .container .events-list .event-list-container ul li {
  list-style: none;
  padding: 0 0 10px 0;
}

#country-menu .container .events-list .event-list-container ul li a {
  transition: all 0.3s;
  color: #8100db;
  font-size: 14px;
}

#country-menu .container .events-list .event-list-container ul li a:hover {
  color: navy;
}

#country-menu .container .date-picker {
  padding: 0 20px 20px 80px;
}

@media only screen and (max-width: 500px) {
  #country-menu .container .date-picker {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  #country-menu .container .date-picker {
    padding: 0 30px;
  }
}

#country-menu .container .date-picker .date-picker-form {
  padding: 30px 0;
}

#country-menu .container .date-picker .date-picker-form .from-date {
  width: 100%;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 10px;
}

#country-menu .container .date-picker .date-picker-form .from-date input {
  width: 100%;
  padding: 8px;
}

#country-menu .container .date-picker .date-picker-form .to-date {
  width: 100%;
  display: inline-block;
  padding-right: 20px;
}

#country-menu .container .date-picker .date-picker-form .to-date input {
  width: 100%;
  padding: 8px;
}

#country-menu .container .date-picker .date-picker-form .btn {
  margin: 20px 0 0 0;
}

#country-menu .container .region-list {
  padding: 0 0 20px 80px;
  border-left: 1px solid #E0E0E0;
}

@media only screen and (max-width: 500px) {
  #country-menu .container .region-list {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  #country-menu .container .region-list {
    padding: 0 30px;
  }
}

#country-menu .container .region-list .region-list-container {
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  #country-menu .container .region-list .region-list-container {
    padding: 10px 0 10px 0;
  }
}

#country-menu .container .region-list .region-list-container ul {
  padding-left: 0;
}

#country-menu .container .region-list .region-list-container ul li {
  list-style: none;
  padding: 0 0 10px 0;
}

#country-menu .container .region-list .region-list-container ul li a {
  transition: all 0.3s;
  color: #333C42;
  font-size: 15px;
}

#country-menu .container .region-list .region-list-container ul li a i {
  color: #8100db;
  margin-right: 5px;
  font-size: 13px;
}

#country-menu .container .region-list .region-list-container ul li a:hover {
  color: navy;
}

@media only screen and (max-width: 992px) {
  #manufacturer-menu .container {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

#manufacturer-menu .container .events-list {
  padding: 0 80px 20px 0;
  border-right: 1px solid #E0E0E0;
}

@media only screen and (max-width: 500px) {
  #manufacturer-menu .container .events-list {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  #manufacturer-menu .container .events-list {
    padding: 0 30px;
  }
}

#manufacturer-menu .container .events-list .event-list-container {
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  #manufacturer-menu .container .events-list .event-list-container {
    padding: 10px 0 10px 0;
  }
}

#manufacturer-menu .container .events-list .event-list-container ul {
  padding-left: 0;
}

#manufacturer-menu .container .events-list .event-list-container ul li {
  list-style: none;
  padding: 0 0 10px 0;
}

#manufacturer-menu .container .events-list .event-list-container ul li a {
  transition: all 0.3s;
  color: #8100db;
  font-size: 14px;
}

#manufacturer-menu .container .events-list .event-list-container ul li a:hover {
  color: navy;
}

#manufacturer-menu .container .date-picker {
  padding: 0 20px 20px 80px;
}

@media only screen and (max-width: 500px) {
  #manufacturer-menu .container .date-picker {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  #manufacturer-menu .container .date-picker {
    padding: 0 30px;
  }
}

#manufacturer-menu .container .date-picker .date-picker-form {
  padding: 30px 0;
}

#manufacturer-menu .container .date-picker .date-picker-form .from-date {
  width: 100%;
  display: inline-block;
  padding-right: 20px;
  margin-bottom: 10px;
}

#manufacturer-menu .container .date-picker .date-picker-form .from-date input {
  width: 100%;
  padding: 8px;
}

#manufacturer-menu .container .date-picker .date-picker-form .to-date {
  width: 100%;
  display: inline-block;
  padding-right: 20px;
}

#manufacturer-menu .container .date-picker .date-picker-form .to-date input {
  width: 100%;
  padding: 8px;
}

#manufacturer-menu .container .date-picker .date-picker-form .btn {
  margin: 20px 0 0 0;
}

#manufacturer-menu .container .region-list {
  padding: 0 0 20px 80px;
  border-left: 1px solid #E0E0E0;
}

@media only screen and (max-width: 500px) {
  #manufacturer-menu .container .region-list {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 992px) {
  #manufacturer-menu .container .region-list {
    padding: 0 30px;
  }
}

#manufacturer-menu .container .region-list .region-list-container {
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  #manufacturer-menu .container .region-list .region-list-container {
    padding: 10px 0 10px 0;
  }
}

#manufacturer-menu .container .region-list .region-list-container select {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  padding: 10px;
  font-family: "Font Awesome 5 Free", sans-serif;
  background-image: none;
  background: none;
  border: none;
  border: 1px solid #e0e0e0;
}

#manufacturer-menu .container .region-list .region-list-container .btn {
  margin-top: 10px;
}

.header {
  background-image: url(/images/header-background.jpg?7c597535c021fa3711e1ff5275cbc169);
  background-size: cover;
  height: 40vh;
}

@media only screen and (max-width: 500px) {
  .header {
    padding: 0;
  }
}

.header .nav-l1 {
  padding: 20px 0 60px 0;
}

@media only screen and (max-width: 500px) {
  .header .nav-l1 {
    padding: 20px 20px 60px 20px;
  }
}

.header .nav-l1 .logo {
  float: left;
}

@media only screen and (max-width: 400px) {
  .header .nav-l1 .logo img {
    max-width: 200px;
  }
}

.header .nav-l1 .nav-l1-items {
  float: right;
}

.header .nav-l1 .nav-l1-items li {
  display: inline-block;
  padding-left: 30px;
  margin-top: 10px;
}

@media only screen and (max-width: 991px) {
  .header .nav-l1 .nav-l1-items li {
    padding-left: 0;
    text-align: center;
  }
}

.header .nav-l1 .nav-l1-items li i {
  margin-right: 10px;
}

.header .nav-l1 .nav-l1-items li a {
  color: #ffffff;
}

@media only screen and (max-width: 991px) {
  .header .nav-l1 .nav-l1-items li a {
    text-align: center !important;
  }
}

@media only screen and (max-width: 991px) {
  .header .nav-l1 .nav-l1-items .logout {
    display: none;
  }
}

.header .nav-l2 {
  padding-left: 0;
  padding-right: 0;
}

.header .nav-l2 .navbar {
  width: 100%;
  background-color: #333C42 !important;
  padding: 0;
}

@media only screen and (max-width: 991px) {
  .header .nav-l2 .navbar {
    padding: 10px;
  }
}

.header .nav-l2 .navbar .navbar-nav {
  margin: 0 auto;
}

.header .nav-l2 .navbar .navbar-nav .nav-link {
  padding: 20px 70px;
}

.header .nav-l2 .navbar .navbar-nav .nav-link i {
  padding-right: 20px;
}

.header .nav-l2 .navbar .navbar-nav .first,
.header .nav-l2 .navbar .navbar-nav .second {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

@media only screen and (max-width: 991px) {
  .header .nav-l2 .navbar .navbar-nav .first,
  .header .nav-l2 .navbar .navbar-nav .second {
    border-right: none;
  }
}

.header .nav-l2 .navbar .navbar-nav .second,
.header .nav-l2 .navbar .navbar-nav .third {
  border-left: 1px solid rgba(0, 0, 0, 0.8);
}

@media only screen and (max-width: 991px) {
  .header .nav-l2 .navbar .navbar-nav .second,
  .header .nav-l2 .navbar .navbar-nav .third {
    border-left: none;
  }
}

.header .nav-l2 .navbar .logout-mobile {
  list-style: none !important;
  margin: 0 auto;
}

@media only screen and (min-width: 992px) {
  .header .nav-l2 .navbar .logout-mobile {
    display: none;
  }
}

.header .text {
  padding: 100px 0;
  text-align: center;
}

.header .text h1 {
  text-transform: uppercase;
}

.header .text h3 {
  color: #ffffff;
}

.header .text i {
  font-size: 22px;
  padding-right: 15px;
}

@media only screen and (max-width: 991px) {
  .dashboard .main-content-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .dashboard .main-content-container {
    padding: 0 !important;
  }
}

.dashboard .main-content-container .sidebar {
  padding: 50px 0;
}

@media only screen and (max-width: 800px) {
  .dashboard .main-content-container .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .dashboard .main-content-container .sidebar {
    padding-right: 5px;
    padding-left: 20px;
  }
}

.dashboard .main-content-container .sidebar .sidebar-inner {
  height: 100vh;
}

.dashboard .main-content-container .sidebar .sidebar-inner h3 {
  color: #333C42;
  font-size: 22px;
  font-weight: 400;
}

.dashboard .main-content-container .sidebar .sidebar-inner h4 {
  color: #333C42;
  font-size: 18px;
  font-weight: 400;
}

.dashboard .main-content-container .sidebar .sidebar-inner .filter-group .checkbox label {
  font-size: 14px;
}

.dashboard .main-content-container .main-content {
  padding: 50px 50px;
}

@media only screen and (max-width: 550px) {
  .dashboard .main-content-container .main-content {
    padding: 0 !important;
  }
}

.dashboard .main-content-container .main-content .filter-mobile {
  text-align: center;
  padding: 0 20px 30px 20px;
}

.dashboard .main-content-container .main-content .filter-mobile select {
  width: 100%;
  border: none;
  background: none;
  padding: 5px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-top: 10px;
}

@media only screen and (min-width: 800px) {
  .dashboard .main-content-container .main-content .filter-mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .dashboard .main-content-container .main-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .dashboard .main-content-container .main-content {
    padding: 20px;
  }
}

.dashboard .main-content-container .main-content .col-md-4 {
  text-align: center;
  padding: 0 20px;
}

@media only screen and (max-width: 800px) {
  .dashboard .main-content-container .main-content .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .dashboard .main-content-container .main-content .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container {
  text-align: left;
  margin: 0 auto;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice {
  width: 45%;
  font-size: 12px;
  display: inline-block;
  padding: 5px 0 10px 0;
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice {
    width: 100%;
  }
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
  display: inline-block;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-1 {
  background: #304651;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-2 {
  background: #262E33;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-3 {
  background: #CDDEEA;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-4 {
  background: #667681;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-5 {
  background: #8A9FAD;
}

.dashboard .main-content-container .main-content .col-md-4 .camembert-slice-container .final {
  width: 100%;
}

.dashboard .main-content-container .main-content .col-md-4 p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  .dashboard .main-content-container .main-content .donut-1,
  .dashboard .main-content-container .main-content .donut-2 {
    border: none;
  }
}

@media only screen and (max-width: 800px) {
  .dashboard .main-content-container .main-content .donut-2 {
    border: none;
  }
}

.dashboard .main-content-container .main-content .bar-chart,
.dashboard .main-content-container .main-content .bar-chart-2 {
  padding: 25px 0;
}

.dashboard .main-content-container .main-content .sales-breakdown-table {
  padding: 30px 0;
}

.dashboard .main-content-container .main-content .sales-breakdown-table .results-title h3 {
  margin-bottom: 20px;
}

.dashboard .main-content-container .main-content .sales-breakdown-table .table-content .data-line {
  padding: 10px 0;
}

.dashboard .main-content-container .main-content .sales-breakdown-table .table-content .data-line .data-type {
  display: inline-block;
  width: 50%;
}

.dashboard .main-content-container .main-content .sales-breakdown-table .table-content .data-line .data-count {
  display: inline-block;
  width: 40%;
  text-align: right;
  font-weight: bold;
}

.login-background {
  background: #41295a;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #2F0743, #41295a);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (max-width: 550px) {
  .login-background {
    background: #ffffff;
  }
}

.login-background .login .container {
  padding: 300px 0;
}

@media only screen and (max-width: 550px) {
  .login-background .login .container {
    padding: 20px;
  }
}

.login-background .login .container .card {
  max-width: 600px;
  margin: 0 auto;
  border: none;
}

@media only screen and (max-width: 550px) {
  .login-background .login .container .card {
    padding: 20px;
  }
}

.login-background .login .container .card .card-body {
  text-align: center;
}

.login-background .login .container .card .card-body img {
  max-width: 100%;
}

.login-background .login .container .card .card-body input {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 1px solid #cecece;
  padding: 10px 3px;
}

.login-background .login .container .card .card-body .btn {
  margin: 30px 0 10px 0;
  width: 100%;
}

.login-background .login .footer-content {
  background-color: none !important;
}

.add-event .main-content .Brand-form-menu {
  margin: 0 auto;
  text-align: center;
  padding: 30px 0 0 0;
}

.add-event .main-content .Brand-form-menu select {
  border: 0;
  border: 1px solid #e0e0e0;
  width: 200px;
  padding: 10px;
}

.add-event .main-content .brand-name {
  padding: 25px 0;
}

.add-event .main-content .brand-name img {
  display: inline-block;
}

.add-event .main-content .brand-name h2 {
  padding: 0 0 0 20px;
  display: inline-block;
}

.add-event .main-content form {
  margin: 0 auto;
  padding: 25px 0;
}

.add-event .main-content form .form-input {
  padding: 0 0 10px 0;
}

.add-event .main-content form .form-input label {
  display: block;
}

.add-event .main-content form .form-input input {
  display: block;
  width: 100%;
  padding: 10px;
}

.add-event .main-content form .btn {
  font-size: 16px;
}

.reports .reporting-menu {
  background-color: #ffffff;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.reports .reporting-menu .reporting-menu-container {
  margin: 0 auto;
}

.reports .reporting-menu .reporting-menu-container .toggle-container {
  border: 1px solid #E0E0E0;
  margin: 0 auto;
  text-align: center;
  padding: 30px;
  height: auto;
  display: block;
}

.reports .reporting-menu .reporting-menu-container .toggle-container .current-results {
  display: inline-block;
  padding-right: 30px;
  font-size: 17px;
}

@media only screen and (max-width: 500px) {
  .reports .reporting-menu .reporting-menu-container .toggle-container .current-results {
    padding-right: 0;
    padding-bottom: 15px;
  }
}

.reports .reporting-menu .reporting-menu-container .toggle-container .open-button {
  display: inline-block;
}

.reports .reporting-menu .reporting-menu-container .toggle-container .cancel {
  background-color: white;
  z-index: 10;
  right: 20px;
  top: 80px;
  border: none;
  transition: all 0.3s;
}

.reports .reporting-menu .reporting-menu-container .toggle-container .cancel:hover {
  transform: rotate(90deg);
}

.reports .reporting-menu .reporting-menu-container .toggle-container .clear {
  clear: both;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown {
  box-shadow: -3px 19px 40px -26px black;
  position: relative;
  z-index: 99;
  display: none;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner {
  z-index: 999;
  padding-left: 0 !important;
  padding-right: 0 !important;
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  .reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner {
    padding: 0;
    padding-bottom: 30px;
  }
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 {
  padding: 0 80px 20px 0;
  border-right: 1px solid #E0E0E0;
}

@media only screen and (max-width: 500px) {
  .reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 {
    padding: 0 20px;
  }
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 .event-list-container {
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  .reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 .event-list-container {
    padding: 10px 0 10px 0;
  }
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 .event-list-container ul {
  padding-left: 0;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 .event-list-container ul li {
  list-style: none;
  padding: 0 0 10px 0;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 .event-list-container ul li a {
  transition: all 0.3s;
  color: #8100db;
  font-weight: bold;
  font-size: 15px;
  opacity: 0.7;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .report-menu-inner .col-md-5 .event-list-container ul li a:hover {
  color: navy;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 {
  padding: 0 20px 20px 80px;
}

@media only screen and (max-width: 500px) {
  .reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 {
    padding: 0 20px;
  }
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 .date-picker-form {
  padding: 30px 0;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 .date-picker-form .from-date {
  width: 45%;
  display: inline-block;
  padding-right: 20px;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 .date-picker-form .from-date input {
  width: 100%;
  padding: 8px;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 .date-picker-form .to-date {
  width: 45%;
  display: inline-block;
  padding-right: 20px;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 .date-picker-form .to-date input {
  width: 100%;
  padding: 8px;
}

.reports .reporting-menu .reporting-menu-container .report-dropdown .col-md-7 .date-picker-form .btn {
  margin: 20px 0 0 0;
}

@media only screen and (max-width: 991px) {
  .reports .main-content-container {
    max-width: 100%;
  }
}

@media only screen and (max-width: 550px) {
  .reports .main-content-container {
    padding: 0 !important;
  }
}

.reports .main-content-container .sidebar {
  padding: 50px 0;
  padding-right: 30px;
}

@media only screen and (max-width: 800px) {
  .reports .main-content-container .sidebar {
    display: none;
  }
}

@media only screen and (max-width: 991px) {
  .reports .main-content-container .sidebar {
    padding-right: 5px;
    padding-left: 20px;
  }
}

.reports .main-content-container .sidebar .sidebar-inner {
  height: 100vh;
}

.reports .main-content-container .sidebar .sidebar-inner h3 {
  color: #333C42;
  font-size: 22px;
  font-weight: 400;
}

.reports .main-content-container .sidebar .sidebar-inner h4 {
  color: #333C42;
  font-size: 18px;
  font-weight: 400;
}

.reports .main-content-container .sidebar .sidebar-inner .filter-group .checkbox label {
  font-size: 14px;
}

.reports .main-content-container .main-content {
  padding: 50px 50px;
}

@media only screen and (max-width: 550px) {
  .reports .main-content-container .main-content {
    padding: 0 !important;
  }
}

.reports .main-content-container .main-content .filter-mobile {
  text-align: center;
  padding: 0 20px 30px 20px;
}

.reports .main-content-container .main-content .filter-mobile select {
  width: 100%;
  border: none;
  background: none;
  padding: 5px;
  border: 1px solid #E0E0E0;
  border-radius: 5px;
  margin-top: 10px;
}

@media only screen and (min-width: 800px) {
  .reports .main-content-container .main-content .filter-mobile {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .reports .main-content-container .main-content {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  .reports .main-content-container .main-content {
    padding: 20px;
  }
}

.reports .main-content-container .main-content .col-md-4 {
  text-align: center;
  padding: 0 20px;
}

@media only screen and (max-width: 800px) {
  .reports .main-content-container .main-content .col-md-4 {
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px;
  }
}

@media only screen and (max-width: 500px) {
  .reports .main-content-container .main-content .col-md-4 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container {
  text-align: left;
  margin: 0 auto;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice {
  width: 45%;
  font-size: 14px;
  display: inline-block;
  padding: 5px 0 10px 0;
  text-align: left;
}

@media only screen and (max-width: 991px) {
  .reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice {
    width: 100%;
  }
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle {
  width: 15px;
  height: 15px;
  background-color: black;
  border-radius: 30px;
  display: inline-block;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-1 {
  background: #304651;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-2 {
  background: #262E33;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-3 {
  background: #CDDEEA;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-4 {
  background: #667681;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .camembert-slice .circle-5 {
  background: #8A9FAD;
}

.reports .main-content-container .main-content .col-md-4 .camembert-slice-container .final {
  width: 100%;
}

.reports .main-content-container .main-content .col-md-4 p {
  margin-bottom: 5px;
}

@media only screen and (max-width: 500px) {
  .reports .main-content-container .main-content .donut-1,
  .reports .main-content-container .main-content .donut-2 {
    border: none;
  }
}

@media only screen and (max-width: 800px) {
  .reports .main-content-container .main-content .donut-2 {
    border: none;
  }
}

.reports .main-content-container .main-content .bar-chart,
.reports .main-content-container .main-content .bar-chart-2 {
  padding: 25px 0;
}

.reports .main-content-container .main-content .sales-breakdown-table {
  padding: 30px 0;
}

.reports .main-content-container .main-content .sales-breakdown-table .results-title h3 {
  margin-bottom: 20px;
}

.reports .main-content-container .main-content .sales-breakdown-table .table-content .data-line {
  padding: 10px 0;
}

.reports .main-content-container .main-content .sales-breakdown-table .table-content .data-line .data-type {
  display: inline-block;
  width: 50%;
}

.reports .main-content-container .main-content .sales-breakdown-table .table-content .data-line .data-count {
  display: inline-block;
  width: 40%;
  text-align: right;
  font-weight: bold;
}

.reports .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.events .add-events {
  padding: 25px 0;
  text-align: left;
}

.events .add-events .event-to-add {
  padding: 10px 0;
}

.events .add-events .event-to-add .event-name {
  display: inline-block;
}

.events .add-events .event-to-add .event-name i {
  display: inline-block;
}

@media only screen and (max-width: 491px) {
  .events .add-events .event-to-add .event-name i {
    display: none;
  }
}

.events .add-events .event-to-add .event-name p {
  display: inline-block;
  padding: 0 20px;
}

@media only screen and (max-width: 800px) {
  .events .add-events .event-to-add .event-name p {
    padding: 0 10px;
  }
}

.events .add-events .event-to-add .dates {
  display: inline-block;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .events .add-events .event-to-add .dates {
    padding: 0 10px;
  }
}

.events .add-events .event-to-add .btn {
  display: inline-block;
  margin: 0 20px;
}

.events .past-events {
  padding: 25px 0;
  text-align: left;
}

.events .past-events .event {
  padding: 10px 0;
}

.events .past-events .event a:hover p,
.events .past-events .event a:hover i {
  text-decoration: underline;
}

.events .past-events .event a .event-name {
  color: #8100db;
  display: inline-block;
}

.events .past-events .event a .event-name i {
  display: inline-block;
}

@media only screen and (max-width: 491px) {
  .events .past-events .event a .event-name i {
    display: none;
  }
}

.events .past-events .event a .event-name p {
  display: inline-block;
  padding: 0 20px;
}

@media only screen and (max-width: 800px) {
  .events .past-events .event a .event-name p {
    padding: 0 10px;
  }
}

.events .past-events .event a .dates {
  display: inline-block;
  font-weight: bold;
}

@media only screen and (max-width: 800px) {
  .events .past-events .event a .dates {
    padding: 0 10px;
  }
}

.events .past-events .event a .btn {
  display: inline-block;
  margin: 0 20px;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: antialiased;
  background-color: #f0f0f0;
}

.image-test {
  background: black;
}

.image-test .col-md-12 img {
  width: 100%;
}

@media only screen and (max-width: 790px) {
  .image-test .full {
    display: none;
  }
}

@media only screen and (min-width: 790px) {
  .image-test .mobile {
    display: none;
  }
}

.cardc {
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 6px;
  margin-bottom: 20px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-color: #ffffff;
}

.btn {
  background: #333C42;
  font-size: 11px;
  color: #ffffff;
  letter-spacing: 1px;
  padding: 6px 15px;
  text-transform: uppercase;
}

.btn i {
  padding-right: 10px;
}

.btn:hover {
  background-color: #000000;
  color: #f2d8ff;
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

#reportForm {
  transition: all 0.3s;
  position: relative;
  z-index: 9999;
  left: 0;
}

.responseRate,
.conversionRate,
.salesBreakdown {
  max-width: 200px;
  max-height: 200px;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* The popup form - hidden by default */

.form-popup {
  bottom: 0;
  right: 15px;
  z-index: 9;
}

/* Add styles to the form container */

.form-container {
  padding: 10px;
  background-color: white;
}

input.datepicker-here {
  font-family: "Font Awesome 5 Free", sans-serif;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  color: #8100db;
  opacity: 1;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

